#container{
    display: flex;
    flex-direction: column;
    position: relative;
}

#subContainer{
    display: flex;
    flex-direction: row;
}

#itemsDiv{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
#itemDiv{
    display: flex;
    flex-direction: column;
}
#itemDiv>img{
    width: 100%;
    height: 150px;
}